@using Microsoft.AspNetCore.Components

@page "/Success"



<h3 class ="alert-success"> Your booking has been successful!

	Thank you for booking and being a part of us. A confirmation email has been sent to your email address.

</h3>

<a href="/PersonInfo">Back to Booking</a>